
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme : rgb(228, 174, 246);
    --themetext : pink;
}

body {
    overflow: hidden;
    font-family: Poppins;
}

nav {
    background: var(--theme);
    padding: 20px;
    

}


main {
    display: flex;
    border: 2px solid;
    min-height: 100vh;
}

section {
    background: var(--theme);
    width: 100%;
    border: 2px solid black;
}
.tags {
    width: 30%;
    background: var(--theme);
}
.sidebar {
    width: 60%;
    background: var(--theme);
}

.container {
    /* width: 50%; */
    background: var(--theme);
    flex-grow: 1;

}

